<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhiyu.dna"
    android:versionCode="5"
    android:versionName="3.0.1">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />

    <!-- 直接访问 /sdcard 任意路径(Android 11+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- 不限 maxSdkVersion: Android 10/11 需要它才能获得 legacy 外部存储访问 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:label="@string/app_name"
        android:forceDarkAllowed="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.DNA"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
